/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,700,900&subset=latin-ext';
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
body {
  background: #000000;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 44px;
}

h2, h3 {
  font-size: 32px;
}

h1, h2 {
  font-weight: 100;
}

h3 {
  font-weight: 300;
}

strong {
  font-weight: 300;
  font-style: italic;
}

p {
  color: #999;
  font-size: 1em;
  font-weight: 300;
}
a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  color: #eee;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 10vw;
  width: auto;
  height: 20vh;
  outline: 0;
}

a:active, a:hover {
  outline: 0;
}

header, footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 10vh;
  background-color: #111;
  margin: 0;
  padding: 0 100px;
}

footer {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  font-size: 0.7em;
}

section {
  padding-left: 100px;
  padding-right: 100px;
}

.sectionContent {
  height: 80vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ui-icon.iconUp {
  background: url("../images/close.png") no-repeat;
}

.ui-icon.iconDown {
  background: url("../images/arrow-down.png") no-repeat;
}

.ui-icon.iconUp, .ui-icon.iconDown {
  background-size: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.6;
  position: -webkit-sticky;
  position: sticky;
  left: 100%;
  margin-left: -10vw;
}

/****************************************************************************************/
#logo img {
  height: 8vh;
  width: auto;
}

#logomob img {
  visibility: hidden;
}

#lang span {
  color: #eee;
}

/****************************************************************************************/
#about {
  background: url("../images/about.jpg") no-repeat center;
  background-size: cover;
}

.aboutContent {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  position: relative;
  display: block;
  margin-bottom: 15vh;
  text-align: center;
}

h1 strong {
  color: #D4D4D4;
}

svg.aboutFrame768 {
  position: absolute;
  visibility: hidden;
}

svg.aboutFrame360 {
  position: absolute;
  visibility: hidden;
}

svg.aboutFrame {
  position: absolute;
  height: 229px;
  width: 434px;
  right: -20px;
  top: -15px;
}

rect {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 0, 1433;
  -webkit-animation: hborder 6s forwards;
          animation: hborder 6s forwards;
}

@-webkit-keyframes hborder {
  0% {
    stroke-dasharray: 0, 1433;
  }
  100% {
    stroke-dasharray: 1433, 0;
  }
}

@keyframes hborder {
  0% {
    stroke-dasharray: 0, 1433;
  }
  100% {
    stroke-dasharray: 1433, 0;
  }
}

/* *********************************** */
#who {
  background: url("../images/who.jpg") no-repeat center;
  background-size: cover;
}

.whoContent {
  margin-top: 10vh;
}

.whoItem, .contactItem {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
}

.whoItem .technologies {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  margin: 1em;
}

.technologies .tech-logo {
  width: 40px;
  height: 40px;
}

/* *********************************** */
#what {
  background: url("../images/what.jpg") no-repeat center;
  background-size: cover;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* what slider */
ul {
  list-style: none outside;
}

.flex-direction-nav .flex-prev {
  left: 0px;
  background: transparent url("../images/arrow-left.png") no-repeat 47% 50%;
  position: absolute;
}

.flex-direction-nav .flex-next {
  right: 0px;
  background: transparent url("../images/arrow-right.png") no-repeat 53% 50%;
  position: absolute;
}

.flex-direction-nav a {
  display: block;
  width: 0;
  height: 66px;
  margin: 20vh 0;
  cursor: pointer;
  z-index: 99999;
  opacity: 0;
  position: absolute;
  color: transparent;
  transition: all 0.2s ease-in-out;
}
.flexslider:hover .flex-next, .flexslider:hover .flex-prev {
  opacity: 1;
}
.whatContent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 60vh;
}
.whatContent .work {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
.whatContent .ebudowlani,
.whatContent .premium,
.whatContent .github {
  display: block;
}
.whatContent a {
  padding: 0;
}
.whatContent img.work-link {
  width: 400px;
  margin-top: 50px;
  border: 2px solid #fff;
}
.whatContent img.work-link:hover {
  filter: grayscale(100%);
  border: 2px solid #242015;
  transition: all .5s linear;
}
.whatContent img.work-link:hover::after
{
    position:absolute;
    top: 0;
    right:-10px;
    bottom:0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #303030;
    content: "";
}
.whatContent img.science-logo  {
  height: 100px;
}
.whatContent img.tech-logo  {
  margin: 20px;
}

/* *********************************** */
#contact {
  background: url("../images/contact.jpg") no-repeat center;
  background-size: cover;
}
#contact h3 {
  margin-bottom: 20px;
}
.contactItem {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch;
}
.field {
  margin-bottom: 0;
}
label {
  display: inline-block;
  color: #fff;
  max-width: 100%;
  margin-bottom: 5px;
}
#contact .form-control {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #999;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  margin-bottom: 20px;
}
#contact input, #contact textarea {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}
#contact textarea {
  height: 100px;
}
#contact button[type="submit"] {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  width: 180px;
  height: 60px;
  transition: all 0.4s ease-in-out;
}
#contact button[type="submit"]:hover {
  background: #242015;
  border-color: transparent;
}
#form-messages {
  color: #fff;
}
#contact hr {
  margin-bottom: 0;
}
a.smlink {
  display: inline-block;
  margin: 10px;
  padding: 0;
}
a.smlink:hover {
  opacity: 0.5;
  transition: all 0.5s linear;
}

/* footer links */
.footerLinks {
  visibility: hidden;
  position: absolute;
}

/* *********************************************

    media-queries

********************************************* */


@media only screen and (max-width: 1000px) {
  .whatContent img.work-link {
    width: 300px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  a {
    padding-left: 5vw;
  }
  header, footer, section {
    padding: 0 50px;
  }
  #logo img {
    visibility: hidden;
  }
  #logomob img {
    visibility: visible;
    height: 4vh;
    width: auto;
    position: absolute;
    top: 3vh;
    left: 50px;
  }
  #about {
    background: url("../images/about-mob.jpg") no-repeat center;
    background-size: cover;
  }
  #who {
    background: url("../images/who-mob.jpg") no-repeat center;
    background-size: cover;
  }
  #what {
    background: url("../images/what-mob.jpg") no-repeat center;
    background-size: cover;
  }
  #contact {
    background: url("../images/contact-mob.jpg") no-repeat center;
    background-size: cover;
  }
  /* who */
  .whoContent {
    margin-top: 0;
  }
  h1 {
    font-size: 28px;
    margin-bottom: 25vh;
  }
  svg.aboutFrame {
    visibility: hidden;
  }
  svg.aboutFrame768 {
    visibility: visible;
    height: 155px;
    width: 296px;
    right: -25px;
    top: -14px;
  }
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 0, 902;
    -webkit-animation: hborder 4s forwards;
            animation: hborder 4s forwards;
  }
  @-webkit-keyframes hborder {
    0% {
      stroke-dasharray: 0, 902;
    }
    100% {
      stroke-dasharray: 902, 0;
    }
  }
  @keyframes hborder {
    0% {
      stroke-dasharray: 0, 902;
    }
    100% {
      stroke-dasharray: 902, 0;
    }
  }
  /* who am I */
  .whoContent {
    flex-direction: column;
  }
  .whoItem {
    width: 100%;
  }
  .past {
    visibility: hidden;
  }
  /* what i do */
  .flex-direction-nav a {
    display: block;
    width: 50px;
    height: 66px;
    background-color: #D3D3D3;
  }
  .whatContent .work {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whatContent img.work-link {
    width: 200px;
    margin-top: 20px;
  }
  .whatContent img.science-logo  {
    height: 60px;
  }
  /* contact */
  .contactContent {
    flex-direction: column;
  }
  .contactItem {
    width: 100%;
  }
  #contact textarea {
    height: 50px;
  }
  .contactLinks {
    visibility: hidden;
  }
  /* footer */
  .footerLinks {
    visibility: visible;
    position: relative;
  }
  a.smlink {
    display: inline-block;
    position: relative;
    padding: 0;
    height: 0;
  }
  .socialmedia img {
    width: 24px;
    margin: 10px 5px;
  }
}

@media only screen and (max-width: 360px) {
  h2 {
    font-size: 32px;
  }
  svg.aboutFrame {
    visibility: hidden;
  }
  svg.aboutFrame768 {
    visibility: hidden;
  }
  svg.aboutFrame360 {
    visibility: visible;
    height: 159px;
    width: 284px;
    right: -20px;
    top: -18px;
  }
  rect {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 1070;
    -webkit-animation: hborder 5s forwards;
            animation: hborder 5s forwards;
  }
  @-webkit-keyframes hborder {
    0% {
      stroke-dasharray: 0, 1070;
    }
    100% {
      stroke-dasharray: 1070, 0;
    }
  }
  @keyframes hborder {
    0% {
      stroke-dasharray: 0, 1070;
    }
    100% {
      stroke-dasharray: 1070, 0;
    }
  }
}

/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
