/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,700,900&subset=latin-ext';
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
body {
  background: #000000;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  color: #fff;
  margin: 0;
  font-size: 30px;
}
h1 {
  font-weight: 100;
}
strong {
  font-weight: 300;
  font-style: italic;
}
p {
  color: #eee;
  font-size: 1em;;
}

a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;
  color: #eee;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 10vw;
  width: auto;
  height: 20vh;
  outline: 0;
}
a:active, a:hover {
  outline: 0;
}
header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 10vh;
  background-color: #111;
  margin: 0;
  padding: 0 100px;
}
footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}
footer p {
  margin: 0;
}
section {
  padding-left: 100px;
  padding-right: 100px;
}
.sectionContent {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ui-icon.iconUp {
  background:url("../images/arrow-up.svg") no-repeat;
}
.ui-icon.iconDown {
  background:url("../images/arrow-down.svg") no-repeat;
}
.ui-icon.iconUp, .ui-icon.iconDown {
  background-size:40px;
  width: 40px;
  height: 40px;
  position: sticky;
  left: 100%;
  margin-left: -10vw;
}


/****************************************************************************************/
#logo img{
  width: 80px;
  height: auto;
}
#lang span {
  color: #eee;
}
/****************************************************************************************/

#about {
  background: url("../images/about.jpg") no-repeat center;
  background-size: cover;
}
.aboutContent {
  align-items: flex-end;
  justify-content: center;
}
h1 {
  position: relative;
  font-size: 44px;
  font-weight: 300;
  display: block;
  margin-bottom: 10vh;
  text-align: center;
}
h1 strong {
  color: #D4D4D4;
}
svg {
  position: absolute;
  height: 140px;
  width: 620px;
  right: -20px;
}
rect {
  fill: none;
  stroke: white;
  stroke-width: 0;
  stroke-dasharray: 1500;
  animation: hborder 6s forwards;
}

@keyframes hborder {
  0% {
    stroke-dasharray: 400, 0;
  }
  50% {
    stroke-dasharray: 100, 0;
    stroke-width: 1;
  }
  100% {
    stroke-dasharray: 0,900, 300, 3000;
    stroke-width: 2;}
}
/* *********************************** */
#who {
  background: url("../images/who.jpg") no-repeat center;
  background-size: cover;
}
.whoContent {
  margin-top: 10vh;
}
.whoItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
}
.whoItem .technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1em;
}
.technologies .tech-logo {
  width: 40px;
  height: auto;
}

/* *********************************** */
#what {
  background: url("../images/what.jpg") no-repeat center;
  background-size: cover;
}

/* *********************************** */
#contact {
  background: url("../images/contact.jpg") no-repeat center;
  background-size: cover;
}





@media only screen and (max-width: 768px) {
  a {
    padding-left: 0;
  }
  header, footer, section {
    padding: 0 50px;
  }
  #about {
    background: url("../images/about-mob.jpg") no-repeat center;
    background-size: cover;
  }
  #who {
    background: url("../images/who-mob.jpg") no-repeat center;
    background-size: cover;
  }
  #what {
    background: url("../images/what-mob.jpg") no-repeat center;
    background-size: cover;
  }
  #contact {
    background: url("../images/contact-mob.jpg") no-repeat center;
    background-size: cover;
  }
}


/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
